.navbar img {
    width: 1.2rem;
}

.welcome {
    background: url("/img/background.jpg");
    background-position: center center;
    background-size: cover;
}

.hbg {

  background-color: #444;
  transition: background-color 0.3s;
}

.hbg:hover {
    background-color: #3a3a3a;
  }
